
# Clerk Authentication
VITE_CLERK_PUBLISHABLE_KEY=pk_test_c3VubnktZG9nZmlzaC0zMy5jbGVyay5hY2NvdW50cy5kZXYk

# Pas d'autres variables d'environnement nécessaires pour cette version
# L'application fonctionne entièrement côté client avec PeerJS
